@mixin horizontal-margins($left, $right) {
    margin-left: $left;
    margin-right: $right;
  }
  
  body {
    @include horizontal-margins(10px, 10px);
  }
  
  div {
    @include horizontal-margins(15px, 15px);
  }
  